/* Colors */
:root {
  --color-background-primary: #fafafa;
  --color-accent: #0095f6;
  --color-headings: #262626;
  --color-body: #222222;
  --color-light: #a2a2a2;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  color: var(--color-body);
  line-height: 1.5;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 2.7rem;
  color: var(--color-headings);
  font-weight: 200;
}

h2 {
  font-weight: 500;
  font-size: 1.8rem;
}

.text-light {
  color: var(--color-light);
}

/* Links */

a {
  text-decoration: none;
}

.link {
  color: #014788;
  font-weight: 500;
  transition: color 0.3s;
}

.link:hover {
  color: #1f3f5c;
}

/* Buttons */

.btn {
  background: var(--color-accent);
  color: #fff;
  font-weight: 500;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: 0;
}

.btn--stretched {
  padding: 1rem 4rem;
}

/* Lists */

.list {
  list-style: none;
  padding: 0;
}

.list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* Icons */

.icon {
  width: 25px;
  height: 25px;
}

.icon--accent {
  fill: var(--color-accent);
}

.icon--light {
  fill: var(--color-light);
}

.icon--white {
  fill: #fff;
}

/* Images Badges */

.image-container {
  position: relative;
}

.image-container > img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.badge {
  position: absolute;
  top: 5px;
  right: 10px;
}
