/* Colors */
:root {
  --color-background-primary: #fafafa;
  --color-accent: #0095f6;
  --color-headings: #262626;
  --color-body: #222222;
  --color-light: #a2a2a2;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  color: var(--color-body);
  line-height: 1.5;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 2.7rem;
  color: var(--color-headings);
  font-weight: 200;
  display: inline-block;
}

h2 {
  font-weight: 500;
  font-size: 1.8rem;
}

.text-light {
  color: var(--color-light);
}

/* Links */

a {
  text-decoration: none;
}

.link {
  color: #014788;
  font-weight: 500;
  transition: color 0.3s;
}

.link:hover {
  color: #1f3f5c;
}

/* Buttons */

.btn {
  width: fit-content;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: 0;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}

.btn--white {
  background: #fff;
  color: var(--color-accent);
  font-weight: 500;
}

.btn--stretched {
  padding: 1rem 4rem;
}

/* Lists */

.list {
  list-style: none;
  padding: 0;
}

.list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* Icons */

.icon {
  width: 25px;
  height: 25px;
}

.icon--accent {
  fill: var(--color-accent);
}

.icon--light {
  fill: var(--color-light);
}

.icon--white {
  fill: #fff;
}

/* Images in grid and badges */

.image-container {
  position: relative;
}

/* TODO: If img repeats, set it commonly */

.image-container,
.image-circular-container {
  display: inline-block;
}

.image-container > img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.badge {
  position: absolute;
  top: 5px;
  right: 10px;
}

/* Images Circular */

.image-circular-container > img {
  object-fit: cover;
  width: 9.1rem;
  height: 9.1rem;
  border-radius: 50%;
  padding: 3px;
  border: 3px solid blueviolet;
}

/* Navigation Bar */

.nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  height: 5.4rem;
  padding: 0 1.2rem 0 2rem;
}

.nav__logo > img {
  width: 103px;
  position: relative;
  top: 7px;
}

.nav__logo {
  flex-grow: 1;
}

.nav__btn .btn--white {
  position: relative;
  left: 2px;
  bottom: 2px;
}

/* Block */

.block {
  background-color: var(--color-background-primary);
}

/* Profile Block */

.profile {
  display: flex;
}

.profile-pic {
  padding-right: 2rem;
}

.icon--verified {
  width: 20px;
}

.profile--info {
  display: flex;
  flex-direction: column;
}

.profile--name {
  margin: 0.2rem 0 0.5rem 0;
}
