<header class="cards-header">
  <h2 class="text-light">Related Accounts</h2>
  <button class="btn btn--white">See All</button>
</header>
<section class="block-cards">
  <div class="card">
    <div class="card--image image-circular-container">
      <img src="https://source.unsplash.com/collection/190727/600x600?4" />
    </div>
    <div class="card--info">
      <h3>Krishna</h3>
      <p class="text-light">@krishn_gup</p>
      <button class="btn btn--accent btn--stretched">Follow</button>
    </div>
  </div>
  <div class="card">
    <div class="card--image image-circular-container">
      <img src="https://source.unsplash.com/collection/190727/600x600?4" />
    </div>
    <div class="card--info">
      <h3>Krishna</h3>
      <p class="text-light">@krishn_gup</p>
      <button class="btn btn--accent btn--stretched">Follow</button>
    </div>
  </div>
  <div class="card">
    <div class="card--image image-circular-container">
      <img src="https://source.unsplash.com/collection/190727/600x600?4" />
    </div>
    <div class="card--info">
      <h3>Krishna</h3>
      <p class="text-light">@krishn_gup</p>
      <button class="btn btn--accent btn--stretched">Follow</button>
    </div>
  </div>
</section>
