<section class="block">
  <div class="container profile">
    <div class="image-circular-container profile-pic">
      <img src="https://source.unsplash.com/collection/190727/600x600?1" />
    </div>
    <span class="profile--info">
      <div>
        <h1 class="profile--name">instagram</h1>
        <svg class="icon icon--light icon--verified">
          <use xlink:href="images/sprite.svg#verified"></use>
        </svg>
      </div>
      <button class="btn btn--accent">Follow</button>
    </span>
  </div>
</section>
