<section class="block grid grid--4x3">
  <div class="image-container image-grid-item">
    <img src="https://source.unsplash.com/collection/190727/600x600?1" />
  </div>
  <div class="image-container image-grid-item">
    <img src="https://source.unsplash.com/collection/190727/600x600?2" />
  </div>
  <div class="image-container image-grid-item">
    <img src="https://source.unsplash.com/collection/190727/600x600?3" />
  </div>
  <div class="image-container image-grid-item">
    <img src="https://source.unsplash.com/collection/190727/600x600?4" />
  </div>
  <div class="image-container image-grid-item">
    <img src="https://source.unsplash.com/collection/190727/600x600?5" />
  </div>
  <div class="image-container image-grid-item">
    <img src="https://source.unsplash.com/collection/190727/600x600?6" />
  </div>
  <div class="image-container image-grid-item">
    <img src="https://source.unsplash.com/collection/190727/600x600?7" />
  </div>
  <div class="image-container image-grid-item">
    <img src="https://source.unsplash.com/collection/190727/600x600?8" />
  </div>
  <div class="image-container image-grid-item">
    <img src="https://source.unsplash.com/collection/190727/600x600?9" />
  </div>
  <div class="image-container image-grid-item">
    <img src="https://source.unsplash.com/collection/190727/600x600?10" />
  </div>
  <div class="image-container image-grid-item">
    <img src="https://source.unsplash.com/collection/190727/600x600?11" />
  </div>
  <div class="image-container image-grid-item">
    <img src="https://source.unsplash.com/collection/190727/600x600?12" />
  </div>
</section>
