<section class="iconbar block grid grid--1x5">
  <svg class="icon icon--accent iconbar__item">
    <use xlink:href="images/sprite.svg#grid"></use>
  </svg>
  <svg class="icon icon--light iconbar__item">
    <use xlink:href="images/sprite.svg#book"></use>
  </svg>
  <svg class="icon icon--light iconbar__item">
    <use xlink:href="images/sprite.svg#reels"></use>
  </svg>
  <svg class="icon icon--light iconbar__item">
    <use xlink:href="images/sprite.svg#tv"></use>
  </svg>
  <svg class="icon icon--light iconbar__item">
    <use xlink:href="images/sprite.svg#user"></use>
  </svg>
</section>
